/* monospace semibold italic */
@font-face {
    font-family: 'haskligsemibold_italic';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-semiboldit-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-semiboldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace regular italic */
@font-face {
    font-family: 'haskligitalic';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-it-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace medium italic */
@font-face {
    font-family: 'haskligmedium_italic';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-mediumit-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-mediumit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace light italic */
@font-face {
    font-family: 'haskliglight_italic';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-lightit-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-lightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace extralight italic */
@font-face {
    font-family: 'haskligextralight_italic';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-extralightit-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-extralightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace bold italic */
@font-face {
    font-family: 'haskligbold_italic';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-boldit-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace black italic */
@font-face {
    font-family: 'haskligblack_italic';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-blackit-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-blackit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace semibold */
@font-face {
    font-family: 'haskligsemibold';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-semibold-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace regular */
@font-face {
    font-family: 'haskligregular';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-regular-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace medium */
@font-face {
    font-family: 'haskligmedium';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-medium-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace light */
@font-face {
    font-family: 'haskliglight';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-light-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace extralight */
@font-face {
    font-family: 'haskligextralight';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-extralight-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace bold */
@font-face {
    font-family: 'haskligbold';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-bold-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* monospace black */
@font-face {
    font-family: 'haskligblack';
    src: url('assets/hasklig-webfont/hasklig-nerd-font-black-webfont.woff2') format('woff2'),
         url('assets/hasklig-webfont/hasklig-nerd-font-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0ddc1UAw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Vdc1UAw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0adc1UAw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Wdc1UAw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Xdc1UAw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhmIqOjjg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhvIqOjjg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhnIqOjjg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhoIqOjjg.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhkIqOjjg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhlIqOjjg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #f8f8f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 1em;
  margin: auto;
  max-width: 52em;
  background: #282a36;
}

a{
  color: #8be9fd;
  text-decoration: none;
}

a:visited {
  color: #8be9fd;
}

a:hover {
  color: #f1fa8c;
  cursor:pointer;
}

a:active {
  color: #50fa7b;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

::-moz-selection {
  background: #44475a;
}

::selection {
  background: #44475a;
}

a::-moz-selection {
  background: #44475a;
}

a::selection {
  background: #44475a;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #ff79c6;
  line-height: 1em;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.6em;
  /* text-decoration: underline; */
  /* text-align: center; */
  /* margin-top: 60px; */
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.0em;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.9em;
}

blockquote {
  color: #f8f8f2;
  background-color: #1e1f29;
  margin: 0;
  padding-left: 3em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-left: 0.5em #6272a4 solid;
  font-style: italic;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #1e1f29;
  border-bottom: 1px solid #6272a4;
  margin: 1em 0;
  padding: 0;
}

pre,
code,
kbd,
samp {
  font-family: 'haskligregular', monospace;
  font-size: 0.90em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #1e1f29;
  padding: 10px 15px;
  border:1px solid #1e1f29;
  border-radius:0px;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin: 0;
}

dd {
  margin: 0 0 0 2em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
  .logo {
      max-height: 30px
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .logo {
      max-height: 40px;
  }
  article {
      margin: 50px 0;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #f8f8f2 !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
    max-width: 100%;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #1e1f29;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #6272a4;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
nav > div > ul > li > a {
    color: #bfbfbf !important;
    display: block;
    line-height: 2em;
    padding: 0.5em 0em;
    text-decoration: none;
    font-weight: bold;
}

nav > div.nav-right > ul > li > a {
    padding: 0.5em 0.5em;
}

nav > div > ul > li > a:hover {
    color: #f1fa8c !important;
}

nav > div > ul > li > a:active {
    color: #50fa7b !important;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}

.logo {
    margin-right: 0.5em
}

article img {
    margin: 1em 0;
}

p.date {
    font-size: 13px;
    color: #44475a;
}

ul.articles {
    list-style: none;
    padding: 0;
}

#Articles {
    margin-top: 2em;
}

footer {
    font-size: 13px;
}

textarea {
    font-family: "haskligregular", monospace;
    font-size: 0.95em;
}

code {
    font-family: "haskligregular", monospace;
    font-size: 0.95em;
}

.sourceCode {
    font-family: "haskligregular", monospace;
    font-size: 0.95em;
}

.boxed {
    font-family: "haskligregular", monospace;
    font-size: 0.95em;
    text-align: center;
    background-color: #1e1f29;
    border: 1px solid #1e1f29;
    border-radius: 0px;
    padding: 1.5em;
}

td, th {
  width: 5rem;
  height: 2rem;
  border: 1px solid #6272a4;
  text-align: center;
  padding: 0.25rem;
}

th {
  background: #44475a;
}

td {
  vertical-align: center;
  background: #282a36;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 1.6em;
  margin-top: 1.5em;
}
