<!--
<p style="text-align: center; margin-top: 30px; width: 100%;">
  <a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons"></i></a>&nbsp
  <a href="https://github.com/matteogiorgi"><i class="fab fa-github"></i></a>&nbsp
  <a href="index.html"><i class="fas fa-swatchbook"></i></a>
</p>
-->


<!--
<nav class="menu">
<div class="nav-center">
<ul>
  <li><a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons"></i>&nbsp</a></li>
  <li><a href="https://github.com/matteogiorgi"><i class="fab fa-github"></i>&nbsp</a></li>
  <li><a href="index.html"><i class="fas fa-swatchbook"></i></a></li>
</ul>
</div>
</nav>
-->


<!--
<p style="text-align: center; margin-top: 30px; width: 100%;">
  Licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons"></i></a> by geoteo.net
</p>
-->


<!--
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-center">
  <li><a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons"></i></a></li>&nbsp
  <li><a href="index.html"><i class="fas fa-home"></i></a></li>&nbsp
  <li><a href="https://github.com/matteogiorgi"><i class="fab fa-github"></i></a></li>
</ul>
</div>
</nav>
-->

<p style="color: #bfbfbf; margin-top: 60px; width: 100%;">
  <hr style="height:1px;border-width:0;color:#44475a;background-color:#44475a">
  <span style="font-size: 0.8em; font-weight: 600; float:left; margin-bottom: 30px;">Licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fab fa-creative-commons"></i> BY-NC 4.0</a></span>
  <span id="title" style="font-size: 0.8em; font-weight: 600; float:right; margin-bottom: 30px;">
    <script>
      var x = document.title;
      document.getElementById("title").innerHTML = x;
    </script>
  </span>
</p>
