<!--
<nav class="menu">
<div class="nav-left">
<ul>
  <li><a href="index.html"><img class="logo" src="assets/geoteo.png" alt="">Index</a></li>
  <li><a href="index.html"><i class="fas fa-swatchbook"></i> Index</a></li>
</ul>
</div>
<div class="nav-right">
<ul>
  <li><a href="info.html"><i class="fas fa-user-astronaut"></i> info</a></li>
  <li><a href="contact.html"><i class="fas fa-mail-bulk"></i> contact</a></li>
  <li><a href="https://github.com/matteogiorgi"><i class="fab fa-github"></i> Code on github</a></li>
</ul>
</div>
</nav>
-->


<nav class="menu" style="margin-bottom: 60px;">
<div class="nav-left">
<ul>
  <li><a href="index.html"><img class="logo" src="assets/geoteo.png" alt="">geoteo.net</a></li>
</ul>
</div>
<div class="nav-right">
<ul>
  <li><a href="info.html"><i class="fas fa-meteor"></i> info</a></li>
  <li><a href="contacts.html"><i class="fas fa-shipping-fast"></i> contacts</a></li>
  <li><a href="comics.html"><i class="fas fa-kiwi-bird"></i> comics</a></li>
  <li><a href="cellar.html"><i class="fas fa-bowling-ball"></i> cellar</a></li>
</ul>
</div>
<hr style="height:1px;border-width:0;color:#44475a;background-color:#44475a">
</nav>


<!--
<p id="title" style="font-size: 2.0em; font-weight: 600; color: #bd93f9; text-align: center; width: 100%;">
  <script>
    var x = document.title;
    document.getElementById("title").innerHTML = x;
  </script>
</p>
-->
